@import url('normalize.css');

:root {
	--black: #151317;
	--violet: #512689;
	--gray: #808185;
	--gray-light: #f8f8f8;
	--red: #ff6161;
	--white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', system-ui, sans-serif;
	font-size: 16px;
	color: var(--black);
}