.layout__home {
  width: 100%;
  height: 100dvh;
}

.home__header {
  display: flex;
  background: var(--violet);
  align-items: center;
}

.home__header-wrapper {
  padding: 32px 80px 64px 80px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column-reverse;
}

.home__title {
  font-size: 64px;
  font-weight: 400;
  color: var(--white);
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}

.home__description {
  font-size: 20px;
  font-weight: 400;
  color: var(--white);
  margin: 0;
  text-align: center;
  line-height: 23px;
  text-wrap: balance;
}

.header__link {
  display: flex;
  align-items: center;
  height: 38px;
  text-decoration: none;
  align-self: end;
}

.home__logout {
  cursor: pointer;
  background: transparent;
  color: var(--white);
  border: 1px solid var(--gray-light);
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 22px;
  height: 38px;
}

.home__logout-mobile {
  display: none;
}

.loading__page {
  margin-bottom: 56px;
  font-size: 20px;
}

.home__main {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 48px 30px 70px 30px;
}

.home__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 56px;
  gap: 20px;
}

.pagination {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 15px;
  box-shadow: 0 1px 4px 0 rgba(51, 51, 51, 0.15);
  padding: 12px;
  border-radius: 10px;
}

.pagination__item {
  cursor: pointer;
  background: transparent;
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transition: all 0.2s ease;
}

.pagination__item:hover {
  transform: translateY(-4px);
}

.pagination__item.active {
  background: var(--violet);
  color: var(--white);
  border: none;
}

@media (max-width: 769px) {
  .home__header-wrapper {
    padding: 12px 16px 64px 16px;
  }

  .home__title {
    font-size: 36px;
  }

  .home__description {
    font-size: 16px;
  }

  .header__link {
    width: 40px;
    height: 40px;
    margin-bottom: 12px;
  }

  .home__logout {
    display: none;
  }

  .home__logout-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 11px;
  }
}
